

/* utility */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}

/* --------decoration-------- */

.simple{
    text-decoration: none;
}

.cut{
    text-decoration: line-through;
}

/* -------------------------- */

.upborder{
    background-color: #FF6900;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.315);
    height: 70px;
}

.buttons{
    display: inline-block;
}
 
.constrictor{
    max-width: 1380px;
    margin: 0 auto;
}

.width{
    display: inline-block;
    width: 134px;
}

.mrg{
    margin-right: 6px;
}

.mrgt{
    margin-top: 60px;
}

.riquadrob{
    background-color: #ffffff;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.riquadror{
    background-color: #FF0000;
    margin-right: 4px;
}

.riquadrog{
    background-color: #008000;
}

.hdim{ 
    line-height: 150%;
    font-size: 20px;
    margin-left: 5px;
}

.heart:hover{
    color: #e03939;
}

/*------ colors------- */

.white{
    color: white;
}

.black{
    color: rgb(0, 0, 0);
}

.red{
    color: red;
}


/* ------------------- */


/*------ fonts------- */

.font1{
    font-size: 17px;
    font-weight: 700;
}

.font2{
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.font3{
    font-size: 14px;
}

.font4{
    font-size: 14px;
    font-weight: 700;
}

.font5{
    font-size: 14px;
}

.pdngf2{
    padding: 5px 10px 5px 10px;
}

/* ------------------- */

/*------ bkimg------- */

.img1{
    background-image: url(/img/1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 447px;
    height: 645px;
}

#img1b:hover{
    background-image: url(/img/1b.webp);
    cursor: zoom-in ;
}

.img2{
    background-image: url(/img/2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 447px;
    height: 645px;
}

#img2b:hover{
    background-image: url(/img/2b.webp);
    cursor: zoom-in ;
}

.img3{
    background-image: url(/img/3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 447px;
    height: 645px;
}

#img3b:hover{
    background-image: url(/img/3b.webp);
    cursor: zoom-in ;
}

/* ------------------- */

    /* flexs */

    .flexheader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .flexsection{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .flexmfig{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .flexfigure{
        display: flex;
        justify-content: flex-end;
    }

    .flexfigure2{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 42px;
    }
    



       
            